{
    "swagger": "2.0",
    "info": {
        "title": "Industrial.Market API",
        "contact": {},
        "version": "1.0"
    },
    "host": "industrial.market",
    "basePath": "/crutch/methods",
    "paths": {
        "/order/{orderId}": {
            "get": {
                "description": "Get order itemslist",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "order"
                ],
                "summary": "List order lines",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Order Id",
                        "name": "orderId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/main.OrderLine"
                            }
                        }
                    }
                }
            }
        },
        "/orders/": {
            "get": {
                "description": "Get orders list",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "orders"
                ],
                "summary": "List orders",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start of the period used to filter orders, in datetime format (e.g. 2021-10-23T21:00:00.000Z)",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End of the period used to filter orders, in datetime format (e.g. 2021-10-24T20:59:59.999Z)",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "date_ordered",
                            "date_closed"
                        ],
                        "type": "string",
                        "description": "Date used to filter orders",
                        "name": "dateColumn",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Query used to filter orders, might be customer name, order number or buyer name",
                        "name": "text",
                        "in": "query"
                    },
                    {
                        "maximum": 10,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Page size",
                        "name": "itemsPerPage",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.Orders"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "main.OrderDetails": {
            "type": "object",
            "properties": {
                "accepted_date": {
                    "type": "string"
                },
                "buyer": {
                    "type": "string"
                },
                "buyer_id": {
                    "type": "integer"
                },
                "closed_date": {
                    "type": "string"
                },
                "consignee_name": {
                    "type": "string"
                },
                "contractor_number": {
                    "type": "string"
                },
                "customer_address": {
                    "type": "string"
                },
                "customer_id": {
                    "type": "integer"
                },
                "customer_inn": {
                    "type": "string"
                },
                "customer_kpp": {
                    "type": "string"
                },
                "customer_name": {
                    "type": "string"
                },
                "delivered_date": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "on_order_coupon": {
                    "type": "number"
                },
                "on_order_coupon_fixed": {
                    "type": "number"
                },
                "ordered_date": {
                    "type": "string"
                },
                "seller_address": {
                    "type": "string"
                },
                "seller_id": {
                    "type": "integer"
                },
                "seller_inn": {
                    "type": "string"
                },
                "seller_kpp": {
                    "type": "string"
                },
                "seller_name": {
                    "type": "string"
                },
                "shipped_date": {
                    "type": "string"
                },
                "shipping_date_est": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "sum": {
                    "type": "number"
                }
            }
        },
        "main.OrderLine": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "comment": {
                    "type": "string"
                },
                "count": {
                    "type": "number"
                },
                "coupon_fixed": {
                    "type": "number"
                },
                "coupon_percent": {
                    "type": "number"
                },
                "coupon_value": {
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "nds": {
                    "type": "number"
                },
                "price": {
                    "type": "number"
                },
                "product_id": {
                    "type": "integer"
                },
                "sum": {
                    "type": "number"
                },
                "tax": {
                    "type": "number"
                },
                "warehouse": {
                    "type": "string"
                }
            }
        },
        "main.Orders": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "orders": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/main.OrderDetails"
                    }
                },
                "sum": {
                    "type": "number"
                }
            }
        }
    },
    "securityDefinitions": {
        "BasicAuth": {
            "type": "basic"
        }
    }
}